.container{
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    flex : 1;
}
.row{
    display : flex;
    flex-direction: column;
}
.box img {
    border: 2px solid black;
    border-radius: 10px;
}